# Python virtual environment
venv/

# Compiled binaries
bin/

# Python cache
__pycache__/
*.pyc

# Temporary files
*.out
*.log
input.in

# Fisiere generate de WSL / Windows
*:Zone.Identifier
.DS_Store

# Fisiere auxiliare LaTeX
*.aux
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
